<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/11">
	<title>Weblog zu Frank-Naegler.de</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="root">
	<div id="header">
		<a href="http://weblog.frank-naegler.de"><img src="typo3conf/ext/timtab_theme_fn2/res/img/logo_header_new.png" width="432" height="101" alt="Weblog.Frank-Naegler.de" title="Weblog.Frank-Naegler.de" /></a>
		<div id="nav">
			<a href="http://weblog.frank-naegler.de" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_homeblog_mini.png" width="41" height="39" /></a>
			<a href="http://www.frank-naegler.de" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_homewww_mini.png" width="41" height="39" /></a>
			<a href="http://www.neoblack.de" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_photoblog_mini.png" width="41" height="39" /></a>
			<a href="http://weblog.frank-naegler.de/rss20.xml" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_rss_mini.png" width="41" height="39" /></a>
			<img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_trenner_mini.png" width="10" height="39" />
			<a href="http://del.icio.us/NeoBlack" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_delicious_mini.png" width="41" height="39" /></a>
			<a href="http://www.flickr.com/photos/89291186@N00/" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_flickr_mini.png" width="41" height="39" /></a>
			<a href="http://www.technorati.com/profile/NeoBlack" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_technorati_mini.png" width="41" height="39" /></a>
			<a href="https://www.xing.com/profile/Frank_Naegler" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_xing_mini.png" width="41" height="39" /></a>
			<img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_trenner_mini.png" width="10" height="39" />
			<a href="/index.php/Impressum/84/0/" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_impress_mini.png" width="41" height="39" /></a>
			<a href="javascript:linkTo_UnCryptMailto('nbjmup;nbjmAgsbol.obfhmfs/ef');" onclick="Effect.Pulsate(this);"><img src="typo3conf/ext/timtab_theme_fn2/res/img/ico_contact_mini.png" width="41" height="39" /></a>
		</div>
	</div>
	<div id="main">
		<div id="sidebar">
			<div class="boxwhite">
				<h1>Navigation</h1>
				###PAGENAV###
			</div>
			<div class="boxwhitebottom"></div>
			<div class="boxwhite">
				<h1>Kommentare:</h1>
				###FN_LATEST_COMMENTS###
			</div>
			<div class="boxwhitebottom"></div>
			<div class="boxwhite">
				###FN_TAGCLOUD###
			</div>
			<div class="boxwhitebottom"></div>
			<div class="boxwhite">
				<h1>Kategorien:</h1>
				###CATEGORIES###
			</div>
			<div class="boxwhitebottom"></div>
			<div class="boxwhite">
				###BLOG_BLOGCALENDAR###
			</div>
			<div class="boxwhitebottom"></div>
			<div class="boxwhite">
				<h1>Archive:</h1>
				###ARCHIVES###
			</div>
			<div class="boxwhitebottom"></div>
			<div class="boxwhite">
				###BLOG_BLOGROLL###
			</div>
			<div class="boxwhitebottom"></div>
			<div class="boxwhite">
				<h1>Metadaten:</h1>
				<ul>
					<li class="meta_item"><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid XHTML</a></li>
					<li class="meta_item"><a href="http://gmpg.org/xfn/">XFN</a></li>
					<li class="meta_item"><a href="http://www.ingo-renner.com/?id=11" title="timtab: Blogging with TYPO3">timtab</a></li>
					<li class="meta_item"><a href="http://www.typo3.com/" title="Powered by TYPO3">TYPO3</a></li>
				</ul>
			</div>
			<div class="boxwhitebottom"></div>
		</div>
		<div id="content">
			###POSTS_LIST###
		</div>
		<div class="clr"></div>
	</div>
</div>
<!-- ###DOCUMENT_BODY### end -->
</body>
		
